# IDEs
/.idea
/.vs
/.vscode
/.nvim
/.cache
/.claude

# Cargo artefacts
/target
/coverage
/release

# Docs
/docs-page
/public

# Nxus config file
nxus.toml

# Project template config exception
!/crates/nxus-core/src/project_template/template/nxus.toml
