CONFIG___ZAPPY_PROJECT_NAME_SCREAMING__=y
CONFIG___ZAPPY_PROJECT_NAME_SCREAMING___PROGNAME="__ZAPPY_PROJECT_NAME_SNAKE__"
CONFIG___ZAPPY_PROJECT_NAME_SCREAMING___PRIORITY=100
CONFIG___ZAPPY_PROJECT_NAME_SCREAMING___STACKSIZE=2048
CONFIG___ZAPPY_PROJECT_NAME_SCREAMING___DEFAULT_LED=0
CONFIG___ZAPPY_PROJECT_NAME_SCREAMING___PERIOD_MS=500

