CONFIG_TESTING_UNITY=y
CONFIG_TESTING_UNITY_EXCLUDE_SETJMP=y
CONFIG_TESTING_UNITY_PRINT_FORMATTED=y

CONFIG___ZAPPY_PROJECT_NAME_SCREAMING___TEST_HOST=y

CONFIG_INIT_ENTRY=y
CONFIG_INIT_ENTRYPOINT="__ZAPPY_PROJECT_NAME_SNAKE___test_host_main"
CONFIG_INIT_ENTRYNAME="__ZAPPY_PROJECT_NAME_SNAKE___test_host"
CONFIG_INIT_PRIORITY=100
CONFIG_INIT_STACKSIZE=4096

CONFIG_EXAMPLES_NSH=n
CONFIG_SYSTEM_NSH=n
CONFIG_NSH_LIBRARY=n

CONFIG_BOARDCTL=y
CONFIG_BOARDCTL_POWEROFF=y

